body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
   display: flex;
   height: 7rem;
   align-items: center;
   justify-content: space-around;
   background-color: #f2e9f3;
   width: 100%;
}

.header-img {
   width: 4rem;
   height: 4rem;
   border-radius: 100%;
}

.header-span {
   font-size: 1.4rem;
   font-weight: lighter;
   color: #e67cf1;
   cursor: pointer;
}

.header-span:hover {
   color: #e4a8eb;
}

section > div {
   position: relative;
   display: flex;
   width: 100%;
}

.body-image { 
   height: 34rem;
   width: 100%;
}

.signupForm {
   display: flex;
   flex-direction: column;
   padding: 2rem;
   position: absolute;
   top: 3rem;
   left: 27rem;
   border: 1px solid rgba(226, 113, 221, 0.473);
   border-style: double;
   border-radius: 10%;
   width: 30%;
   align-items: center;
   background: linear-gradient(to left, rgba(194, 113, 226, 0.123), rgba(57, 215, 236, 0.123));
   box-shadow: 2px 10px 20px 0 rgba(0,0,0,0.2), 2px 10px 26px 0 rgba(0,0,0,0.19);
}

.signupLabel {
   display: flex;
   padding: 0.5rem 0;
   width: 50%;
   font-size: 1.2rem;
   font-weight: lighter;
   font-style: italic;
   color:#e67cf1;
}

.signupInput {
   padding: 0.7rem 0;
   border: none;
   border-top: 1px solid rgba(247, 152, 242, 0.473);
   border-left: 1px solid rgba(247, 152, 242, 0.473);
   width: 70%;
   display: flex;
   align-items: center;
   text-align: center;
   background: linear-gradient(to left,
                    violet,
                    blue,
                    yellow,
                    red);
            -webkit-background-clip: text;
            color: transparent;
}

.signupInput:focus {
   outline: none;
   border: none;
   border-bottom: 1px solid rgba(247, 152, 242, 0.473);
   border-right: 1px solid rgba(247, 152, 242, 0.473);
}

.signupInput:focus::placeholder {
   color: transparent;
}

.signupInput::placeholder {
   color: rgb(202, 170, 170);
   
}

button {
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   margin: 2rem;
   border-color: #e67cf1;
   border-radius: 12%;
   cursor: pointer;
}

button:hover {
   background: linear-gradient(to right,  rgba(194, 113, 226, 0.123), rgba(8, 216, 243, 0.123), rgba(243, 13, 13, 0.123));
   transition: all 0.5s linear;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.body-icon-1 {
   position: absolute;
   top: 5rem;
   left: 7rem;
   color:rgba(194, 14, 170, 0.74);
}

.body-icon-2 {
   position: absolute;
   top: 10rem;
   left: 7rem;
   color:rgba(194, 14, 170, 0.74);

}

.body-icon-3 {
   position: absolute;
   top: 14.5rem;
   left: 7rem;
   color:rgba(194, 14, 170, 0.74);
}

@media screen and (max-width: 1200px) {
   .signupForm {
      width: 50%;
      left: 20rem;
   }

   .body-icon-1 {
      left: 10rem;
   }

   .body-icon-2 {
      left: 10rem;
   }

   .body-icon-3 {
      left: 10rem;
   }
}

@media screen and (max-width: 950px) {
   .signupForm {
      width: 50%;
      left: 13rem;
   }

   .body-icon-1 {
      left: 8rem;
   }

   .body-icon-2 {
      left: 8rem;
   }

   .body-icon-3 {
      left: 8rem;
   }
}

@media screen and (max-width: 700px) {
   .signupForm {
      width: 50%;
      left: 7rem;
   }

   .body-icon-1 {
      left: 6rem;
   }

   .body-icon-2 {
      left: 6rem;
   }

   .body-icon-3 {
      left: 6rem;
   }
}

@media screen and (max-width: 600px) {
   .signupForm {
      width: 50%;
      left: 5rem;
   }

   .signupInput {
      width: 90%;
   }

   .body-icon-1 {
      left: 4rem;
   }

   .body-icon-2 {
      left: 4rem;
   }

   .body-icon-3 {
      left: 4rem;
   }
}
